doctype 5
html
  head
    title Boilerplate
    block stylesheets
      link( rel='stylesheet', href='/stylesheets/vendor/bootstrap/bootstrap.css' )
      link( rel='stylesheet', href='/stylesheets/own/index.css' )
    block custom-stylesheets
  body
    block main-navbar

    block content

    block scripts

      script( src='/javascripts/vendor/jquery/jquery.min.js' )
      script( src='/javascripts/vendor/angular/angular.min.js' )
      script( src='/javascripts/vendor/bootstrap/bootstrap.js' )
      script( src='/javascripts/vendor/bootstrap/modal.js' )
      script( src='/javascripts/render/Service.js' )

    block custom-scripts